{% extends "base.html" %}
{% block title %} Посты авторов на которых подписан пользователь {% endblock %}

{% block content %}
    <div class="container">
            {% include "includes/menu.html" with index=True %}

           <h1> Посты авторов на которых подписан пользователь</h1>
            <!-- Вывод ленты записей -->

                {% for post in page %}
                    {% include "includes/post_item.html" with post=post %}
                {% endfor %}
    </div>

        <!-- Вывод паджинатора -->
        {% if page.has_other_pages %}
            {% include "includes/paginator.html" with items=page paginator=paginator%}
        {% endif %}

{% endblock %}