{% extends "base.html" %} 
{% block title %} Последние обновления {% endblock %}
{% load cache %}
{% block content %}
    <div class="container">
        {% include "includes/menu.html" with index=True %}
           <h1> Последние обновления на сайте</h1>
           {% cache 20 index_page %}
            <!-- Вывод ленты записей -->
                {% for post in page %}
                  <!-- Вот он, новый include! -->
                    {% include "includes/post_item.html" with post=post %}
                {% endfor %}
    </div>

        <!-- Вывод паджинатора -->
        {% if page.has_other_pages %}
            {% include "includes/paginator.html" with items=page paginator=paginator%}
        {% endif %}
        {% endcache %}
{% endblock %}